.more_info_anim1,
.more_info_anim2,
.more_info_anim3,
.more_info_anim4,
.more_info_anim5,
.more_info_anim6,
.more_info_anim7,
.more_info_anim8,
.more_info_anim9,
.more_info_anim10,

.about_video_anim1,
.about_video_anim2,
.about_video_anim3,
.about_video_anim4,
.about_video_anim5,
.about_video_anim6,
.about_video_anim7,
.about_video_anim8,
.about_video_anim9,
.about_video_anim10,

.reviews_anim1,
.reviews_anim2,
.reviews_anim3,
.reviews_anim4,
.reviews_anim5,
.reviews_anim6,
.reviews_anim7,
.reviews_anim8,
.reviews_anim9,
.reviews_anim10,

.screenshots_anim1,
.screenshots_anim2,
.screenshots_anim3,
.screenshots_anim4,
.screenshots_anim5,
.screenshots_anim6,
.screenshots_anim7,
.screenshots_anim8,
.screenshots_anim9,
.screenshots_anim10,

.pricing_anim1,
.pricing_anim2,
.pricing_anim3,
.pricing_anim4,
.pricing_anim5,
.pricing_anim6,
.pricing_anim7,
.pricing_anim8,
.pricing_anim9,
.pricing_anim10,

.team_anim1,
.team_anim2,
.team_anim3,
.team_anim4,
.team_anim5,
.team_anim6,
.team_anim7,
.team_anim8,
.team_anim9,
.team_anim10,

.cta_download_anim1,
.cta_download_anim2,
.cta_download_anim3,
.cta_download_anim4,
.cta_download_anim5,
.cta_download_anim6,
.cta_download_anim7,
.cta_download_anim8,
.cta_download_anim9,
.cta_download_anim10,

.contact_anim1,
.contact_anim2,
.contact_anim3,
.contact_anim4,
.contact_anim5,
.contact_anim6,
.contact_anim7,
.contact_anim8,
.contact_anim9,
.contact_anim10

{
	opacity:1
}

.about_video_player iframe{
	width:100%;
	height:30rem;
}

.fluid-width-video-wrapper{ padding-top:0 !important}

.hero_fullscreen {padding-top:10rem;}