<html>
  <head>
        <title>Bot Detection</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>


        <!-- Included Google Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900,300italic,400italic,700italic,900italic" rel='stylesheet' type='text/css'>


        <!-- CSS Files comes here -->
        <link href="css/grid12.css" rel="stylesheet" media="screen">                                     <!-- Grid System -->

        <link href="css/james_typography.css" rel="stylesheet" media="screen">                       <!-- James Framework - TYPOGRAPHY -->

        <link href="css/main.css" rel="stylesheet" media="screen">                                   <!-- Main CSS file -->

    <link href="css/color_scheme_light.css" rel="stylesheet" media="screen">                      <!-- Color scheme (dark/light)-->

        <link href="css/colors/color_palette_blue.css" rel="stylesheet" media="screen">              <!-- Color palette -->

        <link href="css/rapid-icons.css" rel="stylesheet" media="screen">                            <!-- James Framework - ICONS -->

        <link href="css/js_styles/jquery.maximage.min.css" rel="stylesheet" media="screen">          <!-- MaxImage background image slideshow -->

        <link href="css/responsivity.css" rel="stylesheet" media="screen">                           <!-- Responsive Fixes -->
        <link href="css/animate.css" rel="stylesheet" media="screen">                                <!-- Animate - animations -->

    <link rel="stylesheet" href="css/style.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Modernizer and IE specyfic files -->
        <script src="js/modernizr.custom.js"></script>


        <!--[if IE 9]>
        <link href="css/ie.css" rel="stylesheet" media="screen">
    <![endif]-->

  </head>

   <body>
      <h1>Is this twitter a political propaganda bot?</h1>
      <form action = "http://ec2-18-221-137-114.us-east-2.compute.amazonaws.com:80/result" method = "POST">
         <p>Enter a Twitter Handle: <input type = "text" name = "Name" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form> 
   </body>
</html>
