<!DOCTYPE html>
<html>
  <head>
	<title>Bot Detection</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	
	
	<!-- Included Google Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel='stylesheet' type='text/css'>
	<link href="http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900,300italic,400italic,700italic,900italic" rel='stylesheet' type='text/css'>
	
	
	<!-- CSS Files comes here -->
	<link href="css/grid12.css" rel="stylesheet" media="screen">                              	 <!-- Grid System -->

	<link href="css/james_typography.css" rel="stylesheet" media="screen">                       <!-- James Framework - TYPOGRAPHY -->

	<link href="css/main.css" rel="stylesheet" media="screen">                                   <!-- Main CSS file -->

    <link href="css/color_scheme_light.css" rel="stylesheet" media="screen">                      <!-- Color scheme (dark/light)-->

	<link href="css/colors/color_palette_blue.css" rel="stylesheet" media="screen">              <!-- Color palette -->

	<link href="css/rapid-icons.css" rel="stylesheet" media="screen">                            <!-- James Framework - ICONS -->

	<link href="css/js_styles/jquery.maximage.min.css" rel="stylesheet" media="screen">          <!-- MaxImage background image slideshow -->

	<link href="css/responsivity.css" rel="stylesheet" media="screen">                           <!-- Responsive Fixes -->
	<link href="css/animate.css" rel="stylesheet" media="screen">                                <!-- Animate - animations -->

    <link rel="stylesheet" href="css/style.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
	<!-- Modernizer and IE specyfic files -->  
	<script src="js/modernizr.custom.js"></script>	


	<!--[if IE 9]>
    	<link href="css/ie.css" rel="stylesheet" media="screen">
    <![endif]--> 	
	   
  </head>
  
  <body>

	<div id="preloader_container">
	    
	    <!-- Preloader Screen -->
		<header class="preloader_header">	 
	        <div class="preloader_loader">
	            <svg class="preloader_inner" width="60px" height="60px" viewBox="0 0 80 80">
	                <path class="preloader_loader_circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
	                <path id="preloader_loader_circle" class="preloader_loader_circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
	            </svg>
	        </div>
	    </header>
	    <!-- //Preloader Screen -->
	



		<!-- Fullscreen homepage -->
		<!-- <section class="hero_fullscreen background_slider subsection background_color1" > -->
		<section  class="hero_fullscreen background_slider subsection background_color1" >
		</section>
		<!-- Main content -->
	        <div class="formStuff">
	        	<h1>Is this twitter a political propaganda bot?</h1>
		    <form action = "http://localhost:5000/result" method = "POST">
	                <input type="text" name="twitterHandle" id="twitterHandleInput" value="" class="input-handle" placeholder="Enter a Twitter handle">
			        <p><input type = "submit" value = "submit" /></p>
	            </form>
	        </div>

	        <!-- Button to Open the Modal -->
	        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
	            Open modal
	        </button> -->

			
		<!-- </section> -->
		<!-- //Homepage -->
		
		<!-- Menu bar -->
		
	</div>
	<!-- //preloader -->
	
   
	<!-- JavaScript plugins comes here -->	
    <script src="js/jquery-2.1.3.min.js"></script>        <!-- jQuery -->
    <script src="js/jquery.easing.min.js"></script>       <!-- jQuery easing -->    
    <script src="js/jquery.scrollTo.js"></script>         <!-- Scroll to -->
    <script src="js/jquery.cycle.all.min.js"></script>    <!-- jQuery cycle -->
    <script src="js/jquery.form.js"></script>    		  <!-- jQuery form -->
    <script src="js/jquery.maximage.min.js"></script>     <!-- MaxImage background image slideshow -->
    <script src="js/classie.js"></script>                 <!-- Class helper function -->
	<script src="js/pathLoader.js"></script>              <!-- Preloader Loading Animation -->
	<script src="js/preloader.js"></script>               <!-- Preloader -->
    <script src="js/retina.js"></script>                  <!-- Retina.js - support for HiDPI Displays -->
    <script src="js/waypoints.min.js"></script>           <!-- Waypoints -->
    <script src="js/materialize.js"></script>     		  <!-- Materialize -->
    <script src="js/nivo-lightbox.min.js"></script>       <!-- Lightbox/Modalbox -->
    <script src="js/jquery.fitvids.js"></script>      	  <!-- Responsive Video -->
    <script src="js/owl.carousel.js"></script>      	  <!-- Owl Carousel --> 
    <script src="js/main.js"></script>                    <!-- Main Js file -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>   
    <script src="js/d3.v4.min.js"></script>
    <script src="js/script.js"></script>   
    
    <!-- Show message after newsletter form submit -->
	<script type="text/javascript">
        $('document').ready(function()
            {
            $('#subscribe-form').ajaxForm( {
                target: '#preview',
                success: function() {       
                      $('#preview').addClass( "show_message" );
                    }
                });
            });
    </script>

   
    <!-- Nav Bar show/hide after scrolling -->
	<script>
	var $head = $( '#menu_bar' );
	$( '.menu_bar-waypoint' ).each( function(i) {
		var $el = $( this ),
			animClassDown = $el.data( 'animateDown' ),
			animClassUp = $el.data( 'animateUp' );
			

		$el.waypoint( function( direction ) {
			if( direction === 'down' && animClassDown ) {
				$head.attr('class', 'menu_bar ' + animClassDown);
			}
			else if( direction === 'up' && animClassUp ){
				$head.attr('class', 'menu_bar ' + animClassUp);
			}
		}, { offset: function() {
			navbarheight = $("#menu_bar").outerHeight()+1;
			return navbarheight;
			}
		 } );
	} );
	</script>
	


    
  </body>
</html>
